@{
    ViewData["Title"] = "Home Page"; 
}

<div class="Index-container">
    <main class="content">
        <div class="item">
            <div class="HL-Banner">
                <div class="" style="background: #78BE20;">
                    What exatly is Health Literacy?  
                </div>
            </div>
        </div>
        <div class="item i2">
            <div class="Background-of-Health-Literacy">
                <ul>
                    <li>
                        <strong>
                            Personal health literacy: is the degree to
                            which individuals have the ability to find,
                            understand, and use information and
                            services to inform health-related
                            decisions and actions for themselves and
                            others.
                        </strong>
                    </li>
                    <li>
                        <strong>
                            Organizational health literacy is the degree to
                            which organizations equitably enable individuals to find,
                            understand, and use information and services to
                            inform health-related decisions and actions for themselves and others.
                        </strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="item">

        </div>

    </main>
</div>